[submodule "libs/op"]
	path = libs/op
	url = https://github.com/openpeer/op.git
[submodule "libs/PullToRefresharp"]
	path = libs/PullToRefresharp
	url = https://github.com/openpeer/PullToRefresharp.git
