Debug
*.userprefs
.metadata
**/.idea
**/build
**/*.iml
**/.gradle
**/gradle*
Tests/OpenPeerMediaTestApp/bin
Tests/OpenPeerMediaTestApp/obj
Tests/OpenPeerMediaTestApp/Libs
Tests/OpenPeerMediaTestApp/OpenPeerAndroidSDK/bin
Tests/OpenPeerMediaTestApp/OpenPeerAndroidSDK/obj
Tests/OpenPeerMediaTestApp/OpenPeerAndroidSDK/Jars
OpenPeerNativeSampleApp/bin
OpenPeerNativeSampleApp/gen
OpenPeerNativeSampleApp/obj
OpenPeerNativeSampleApp/libs/armeabi
OpenPeerNativeSampleApp/libs/armeabi-v7a
OpenPeerNativeSampleApp/libs/x86
OpenPeerNativeSampleApp1
OpenPeerSampleApp/bin
OpenPeerSampleApp/gen
openpeer-android-sdk/bin
openpeer-android-sdk/gen
openpeer-android-sdk/obj
openpeer-android-sdk/libs/armeabi
openpeer-android-sdk/libs/armeabi-v7a
openpeer-android-sdk/libs/x86
openpeer-android-sdk1
OpenPeerSample
*/bin
*/gen
**/doc
